{% extends 'base.html' %}

{% load static %}

{% block styleblock %}
<style>
    * {
      font-family: 'Open Sans';
    }

    #home_li, #explore_li  {
        font-weight: bold;
        color:black;
    }

    #home_li:hover, #explore_all:hover {
        color: blue;
    }

    #side-left {
        background-color: white;
        min-height: 100vh;
      }
    
      #side-right {
        background-color: white;
       min-height: 100vh;
      }

      .shadow {
        box-shadow: 1px 1px 1px 1px 1px black;
        border-radius: 10px;
      }

      footer {
        background-color: black;
        color: white;
        margin-bottom: 0;
    }
</style>
{% endblock %}
<title>MobilesMall</title>
</head>

{% block bodyblock %}

<!-- home and explore all
<ul class="nav nav-tabs mb-2">
    <li class="nav-item" >
      <a class="nav-link active" id="home_li" href="{% url 'index' %}">Home</a>
    </li>
    <li class="nav-item " >
      <a class="nav-link" id="explore_li" href="#"  target="_self">Explore All</a>
    </li>
  </ul> -->

  
<!-- nav bar -->
<nav class="navbar navbar-expand-lg navbar-light ">
  <div class="container-fluid">

    <a class="navbar-brand" href="#">
      <p style="font-size:32px;color:#265Ae7;font-weight:Bold;">
        BlueShop.com
      </p>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active"  aria-current="page"
            href="/">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link " aria-current="page" href="explore">Store </a>
        </li>
        <li class="nav-item">
          <a class="nav-link " aria-current="page" href="#">About us</a>
        </li>
      </ul>

      <form class="d-flex col-md-6 col-xl-5 ms-auto me-auto" action="{% url 'explore-all'%}" method="POST">
        {% csrf_token %}
        <input class="form-control" type="search" style="border-radius:5px" placeholder="Search..."
          aria-label="Search" name="search" />
        <button class="btn btn-outline-primary" style="border-radius:5px" type="submit">
          Search
        </button>
      </form>

      <ul class="navbar-nav mb-lg-0 ms-auto me-auto">
      
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link " aria-current="page" href="{% url 'explore-all' %}">Hello, {{user.first_name}}</a>
        </li>
        
        <li class="nav-item">
          <a href="logout">
            <button type="button" class="btn btn-primary" style="border-radius:5px" >Log Out</button>
          </a>
        </li>

        {% else %}
        <li class="nav-item">
          <a href="login">
            <button type="button" class="btn btn-primary" style="border-radius:5px" >Log In</button>
          </a>
        </li>

        <li class="nav-item mx-2">
          <a href="register">
            <button type="button" class="btn btn-primary" style="border-radius:5px" >register</button>
          </a>
        </li>
        {% endif %}

        <li class="nav-item">
          <a class="nav-link " aria-current="page" href="{% url 'orders' %}">Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " aria-current="page" href="{% url 'cart' %}">Cart</a>
        </li>
      </ul>

    </div>
  </div>
</nav>

<!-- main content -->
<div class="main-div row my-4">
  <aside class="col-lg-6" id="side-left">

      <div class="row" >
        

          <div class="col-lg-9 " style="background-color: white;margin-left:auto;margin-right:auto;text-align:center">
              <img src="{{item.0.img1.url}}" style="margin-left:auto;margin-right:auto" alt="" height="500vh">
          </div>
          
      </div>

  </aside>

  <div class="col-lg-6" id="side-right">
    <div class="row m-3">
        <div class="col-lg-4"><a class="btn shadow" href="#" style="width: 100%;border-radius:5px;">Quantity</a></div>
        <div class="col-lg-4 "><a class="btn  shadow" href="#" style="width: 100%;border-radius:5px;color:black;background-color:#CDdcff;">Add to Cart</a></div>
        <div class="col-lg-4"><a class="btn  shadow" href="#" style="width: 100%;border-radius:5px;color:white;background-color:#ff6a08">Buy</a></div>
    </div>

    <div class="row m-3 p-2 shadow" style="background-color: white;">
        <h5 style="width: 100%;color:black;margin:0; font-weight:semibold;">{{ item.0.mbl_name }}</h5>
                  <h5 style="margin-top:10px"><span class="btn btn-success">{{ item.0.rating }} &#9734;</span> <span style="color:#707070; font-size:small;" >(123 Review and 11 Commments)</span></h5>
                  <h3 style="width: 100%;color:black;margin:0;font-weight:semibold">₹{{ item.0.price }}</h3>
    </div>

    <div class="row m-3 p-2 shadow" style="background-color: white;">
        <div class="col-lg-9 ">
          <p style="margin-bottom:2px">Brand : {{ item.0.brand }}</p>
            <p style="margin-bottom:2px">OS : {{ item.0.os }}</p>
              <p style="margin-bottom:2px">Color : {{ item.0.color }}</p>
              
        </div>
        
    </div>

   <div class="row m-3 p-2 shadow" style="background-color: white;">
        <div class="col-lg-9 ">
          <p style="margin-bottom:2px;width:50%">{{ item.0.desc }}</p>
        </div>
        
    </div>
    
  </div>
</div>

{% endblock %}


